<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363097833338-598dlvc6qs1849e5lgpjj3mtb1kcbs3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363097833338-598dlvc6qs1849e5lgpjj3mtb1kcbs3t</string>
	<key>API_KEY</key>
	<string>AIzaSyBo3i5HnBlUfOL03lhlKH0SJfJbDB_pqBo</string>
	<key>GCM_SENDER_ID</key>
	<string>363097833338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alecmorrison.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swift-todolist-c6932</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-todolist-c6932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363097833338:ios:467719715f0f6b5b75a0c3</string>
</dict>
</plist>